.leftmenu
{
   width:240px ;
   height: 100%;
   min-height: 100vh; 
   background: rgba(34, 34, 34, 0.6);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);  
   padding: 25px 30px;
   overflow: hidden;
   transition: all .3s ease-in;
}
.leftmenu .logo-container
{
    color:#f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.leftmenu .logo-container i{
    font-size: 30px;

}
.leftmenu .logo-container i:nth-of-type(2){
    font-size: 15px;

}
.leftmenu .logo-container h2{
    font-size: 25px;
}
.searchbox
{
width: 100%;
height: 45px;
position: relative;
margin-top: 20px;
color: #c7c7c7;
overflow: hidden;
border-radius: 10px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.searchbox input
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;

}
.searchbox  .searchicon
{
    position: absolute;
    top: 0;
    left: 0;
    color: #848484;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.menuContainer
{
    margin: 15px 0;
}
.menuContainer .title
{
    color: #c7c7c7;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.menuContainer ul
{
    width: 100%;
    padding: 0;
}
.menuContainer ul li{
    list-style: none;
    margin:  5px 0;
    width: 100px;
    padding: 5px 0;
    position: relative;
}
.menuContainer ul li a{
    text-decoration: none;
    color: #c7c7c7;
}
.menuContainer ul li a i{
    font-size: 18px;
    margin-right: 15px;
}
.menuContainer ul li::before{
    position: absolute;
    content: " ";
    top: 0;
    left: -15px;
    width:0px;
    height: 100%;
    background: linear-gradient(to top ,#9c54d5,#462964);
    border-radius: 5px;

}
.menuContainer ul li:hover::before,
.menuContainer ul li.active::before
{
    width: 5px;
    transition: .3s;
}
.menuContainer ul li:hover a,
.menuContainer ul li.active a{
    color: #f1f1f1;
    transition: .3s;
}

