.mainContainer
{
    height: 100vh;
    flex-grow: 1;
    z-index: 1;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}